<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Django Project</title>
    <!-- Add your CSS links or stylesheets here -->
</head>

<body>

    <header>
        <h1>Asynchronous Programming</h1>
    </header>

    <main>
        <p>Shared Task Is Running</p>
    </main>

    <footer>
        <p>&copy; 2023 Celery Tasks</p>
    </footer>

    <!-- Add your JavaScript scripts or links here -->

</body>

</html>
